@font-face {
  font-family: Enso;
  src: url(../fonts/enso.ttf);
}
@font-face {
  font-family: themify;
  src: url(../fonts/themify.ttf);
}
@media screen and (max-width: 576px) {
  .six-nine {
    height: 48px;
    width: 62.14px;
    font-size: 48px;
    letter-spacing: -0.09px;
    line-height: 48px;
  }

  .icon-header {
    width: 20px;
    height: 18px;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 18px;
  }

  .title-header {
    height: 24px;
    width: 100%;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 24px;
  }

  .describe {
    display: block;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: italic;
    letter-spacing: -0.03px;
    line-height: 24px;
  }

  .main-content {
    color: #283238;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    line-height: 21px;
    text-align: justify;
  }

  .button-start-global {
    height: 100%;
    width: 144px;
    border-radius: 100px;
    background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
  }

  .button-main {
    width: 100%;
    height: 40px;
  }

  .icon-main {
    height: 20px;
    width: 20px;
    color: #444444;
    font-family: themify;
    font-size: 20px;
    letter-spacing: -0.04px;
    line-height: 20px;
    margin-top: 7px;
    margin-left: 30.4%;
  }

  .title-main {
    height: 32px;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.05px;
    line-height: 32px;
    margin: -27px 5px 0 180px;
  }

  .header {
    width: 100%;
    height: 100%;
  }
  .header .container-section {
    padding-right: 23px;
  }
  .header .container-section ul {
    padding-right: 23px;
  }
  .header .container-section ul .about-us {
    margin-top: 25px;
    margin-right: 23px;
  }
  .header .container-section ul .sign-in {
    line-height: 34px;
    margin-top: 15px;
  }
  .header .container-section .title-hapo-erp {
    height: 29px;
    width: 100%;
    font-size: 24px;
    line-height: 29px;
    margin-top: 8px;
    margin-bottom: 0;
    text-align: center;
  }
  .header .container-section .container-title-icon {
    height: 50px;
    margin-top: 20px;
  }
  .header .container-section .container-title-icon .title-icon {
    width: 299px;
    height: 100%;
  }
  .header .container-section .container-title-icon .title-icon .title-icon-start {
    width: 48px;
    text-align: center;
  }
  .header .container-section .container-title-icon .title-icon .title-icon-between {
    width: 51px;
    text-align: center;
  }
  .header .container-section .container-title-icon .title-icon .title-icon-end {
    width: 71px;
    text-align: center;
  }
  .header .container-section .describe {
    height: 11px;
    font-size: 9px;
    letter-spacing: -0.02px;
    line-height: 11px;
    margin-top: 15px;
  }
  .header .container-section .button-header {
    width: 100%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 26.75px;
    display: flex;
    justify-content: center;
  }

  .main {
    width: 100%;
    height: 100%;
  }
  .main .container-section {
    padding: 30px 10px;
  }
  .main .container-learnt {
    margin: 0;
  }
  .main .container-learnt .learnt-left {
    padding: 0;
  }
  .main .container-learnt .learnt-right {
    width: 460px;
    padding-right: 0;
  }
  .main .container-learnt .learnt-right .title-main {
    width: 100%;
    height: 32px;
  }
  .main .container-learnt .learnt-right .icon-main {
    margin-left: 30.4%;
  }
  .main .container-learnt .learnt-right .describe {
    width: 100%;
    height: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  .main .container-learnt .learnt-right .main-content {
    width: 460px;
    height: 168px;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .main .container-learnt .learnt-right .rounded {
    display: block;
    width: 100%;
    height: 308px;
    margin-bottom: 21px;
  }
  .main .report {
    padding: 30px 10px;
  }
  .main .report .container-report {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }
  .main .report .container-report .row {
    margin: 0;
  }
  .main .report .container-report .row .col-12 {
    padding: 0;
  }
  .main .report .container-report .row .report-left {
    padding-right: 0;
  }
  .main .report .container-report .row .report-left .main-content {
    margin-bottom: 15px;
  }
  .main .report .container-report .row .report-left .describe {
    margin-bottom: 15px;
  }
  .main .report .container-report .row .report-right {
    padding-left: 0;
  }
  .main .report .container-report .row .report-right .rounded {
    margin-bottom: 35.25px;
    height: 278px;
  }
  .main .function-list {
    padding: 38.75px 0 75px 0;
  }
  .main .function-list .container-section {
    padding: 0 10px;
  }
  .main .function-list .container-section .mobile-hidden {
    display: none;
  }
  .main .function-list .container-section .cfo {
    height: 184px;
    margin: 0 9px;
  }
  .main .function-list .container-section .cfo .circle-small .icon-main {
    margin: 0;
    width: 36px;
    height: 36px;
  }
  .main .member {
    padding: 30px 10px;
  }
  .main .member .container-member {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }
  .main .member .container-member .row {
    margin: 0;
  }
  .main .member .container-member .row .col-12 {
    padding: 0;
  }
  .main .member .container-member .row .member-left {
    padding-right: 0;
  }
  .main .member .container-member .row .member-left .mobile-hidden {
    display: none;
  }
  .main .member .container-member .row .member-left .container-content {
    margin-bottom: 21px;
    height: 231px;
  }
  .main .member .container-member .row .member-left .container-content .container-icon .check {
    margin-bottom: 47px;
  }
  .main .member .container-member .row .member-left .describe {
    margin-bottom: 20px;
  }
  .main .member .container-member .row .member-right {
    padding-left: 0;
  }
  .main .member .container-member .row .member-right .rounded {
    margin-bottom: 35.25px;
    height: 310px;
  }
  .main .customer {
    display: none;
  }
  .main .list-our-customer {
    height: 525px;
    padding: 0;
  }
  .main .list-our-customer .container-section {
    padding: 25px 0;
  }
  .main .list-our-customer .container-section .title-main-customer {
    height: 32px;
  }
  .main .list-our-customer .container-section .container-img-name-customer {
    padding: 0 10px;
    width: 100%;
    height: 145px;
  }
  .main .list-our-customer .container-section .circle-action-slide {
    margin-top: 32px;
  }
  .main .list-our-customer .container-section .six-content-nine {
    margin-top: 16px;
    height: 201px;
    padding: 0 10px;
    flex-direction: column;
  }
  .main .list-our-customer .container-section .six-content-nine .number-six {
    width: 62px;
    height: 100%;
    padding-right: 0;
  }
  .main .list-our-customer .container-section .six-content-nine .content {
    width: 100%;
    height: 460px;
    align-items: flex-end;
  }
  .main .list-our-customer .container-section .six-content-nine .content .content-our-customer {
    height: 100px;
    width: 100%;
    font-size: 14px;
    line-height: 25px;
  }
  .main .list-our-customer .container-section .six-content-nine .number-nine {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
  }
  .main .projects {
    padding: 30px 0;
  }
  .main .projects .container-projects {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }
  .main .projects .container-projects .row {
    margin: 0;
  }
  .main .projects .container-projects .row .col-12 {
    padding: 0;
  }
  .main .projects .container-projects .row .projects-left {
    padding-right: 0;
  }
  .main .projects .container-projects .row .projects-left .mobile-hidden {
    display: none;
  }
  .main .projects .container-projects .row .projects-left .main-content {
    margin-bottom: 15px;
  }
  .main .projects .container-projects .row .projects-left .describe {
    margin-bottom: 15px;
  }
  .main .projects .container-projects .row .projects-right {
    padding-left: 0;
  }
  .main .projects .container-projects .row .projects-right .rounded {
    margin-bottom: 35.25px;
    height: 278px;
  }

  .footer {
    padding: 24px 0 28.31px 0;
  }
  .footer .container-section {
    padding: 0 10px;
    width: 100%;
    height: 157px;
  }
  .footer .container-section .container-content {
    width: 100%;
    height: 71px;
    margin-top: 25px;
  }
  .footer .container-section .container-content .container-info {
    width: 100%;
  }
  .footer .container-section .container-content .container-info .info-text {
    margin-top: 11px;
  }
  .footer .container-section .container-content .container-link {
    width: 0;
    height: 0;
  }
  .footer .container-section .info-first-mobile h1 {
    height: 24px;
    width: 96px;
    color: #8BC34A;
    font-family: Enso;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
  }
  .footer .container-section .footer-bottom {
    width: 100%;
    margin-top: 24px;
    height: 13px;
  }
  .footer .container-section .footer-bottom .container-link-mobile {
    width: 110px;
    height: 13px;
  }
  .footer .container-section .footer-bottom .container-link-mobile .icon-footer {
    height: 13px;
    width: 13px;
    color: #8BC34A;
    font-family: themify;
    font-size: 13px;
    letter-spacing: -0.03px;
    line-height: 13px;
  }
  .footer .container-section .footer-bottom span {
    display: block;
    height: 13px;
    width: 70px;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: -0.02px;
    line-height: 13px;
  }
}
