* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import 'variable.scss';
@import 'font.scss';
.six-nine {
    display: block;
    height: 73px;
    width: 72px;
    opacity: 0.4;
    color: $white;
    font-family: themify;
    font-size: 72px;
    letter-spacing: -0.14px;
    line-height: 73px;
    text-align: justify;
}

.text-about-sign {
    font-family: $font-family-text;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 16px;
    display: block;
}

li {
    list-style-type: none;
}

.container-section {
    padding: 0;
}

.icon-header {
    width: 52px;
    height: 48px;
    color: #283238;
    font-family: $font-family-icon;
    font-size: 48px;
    letter-spacing: 4px;
    line-height: 48px;
}

.title-header {
    height: 48px;
    width: 100%;
    display: block;
    margin-top: 14px;
    color: #283238;
    font-family: $font-family-text;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: -0.07px;
    line-height: 48px;
}

.describe {
    display: block;
    height: 19px;
    font-family: $font-family-text;
    font-size: 14px;
    font-style: italic;
    letter-spacing: -0.03px;
    line-height: 24px;
    margin-bottom: 25px;
}

.main-content {
    color: #283238;
    font-family: $font-family-text;
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
}

.button-start-global {
    height: 50px;
    width: 195px;
    border-radius: 100px;
    background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    color: $white;
}

.icon-main {
    height: 36px;
    width: 36px;
    color: #444444;
    font-family: $font-family-icon;
    font-size: 36px;
    letter-spacing: -0.07px;
    line-height: 36px;
    margin-top: 14px;
}

.icon-large-main {
    display: block;
    height: 24px;
    width: 18px;
    color: $green;
    font-family: $font-family-icon;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
}

.title-main {
    height: 63px;
    color: #444444;
    font-family: $font-family-text;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -0.09px;
    line-height: 63px;
    margin: -50px 0 15px 54px;
}

.text-content {
    color: #283238;
    font-family: $font-family-text;
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
}

.header {
    padding: 0;
    width: 100%;
    height: 100%;
    background: {
        image: url(../images/banner.jpg);
        size: auto;
        repeat: no-repeat;
        position: center;
    }
    .container-section {
        height: 100%;
        ul {
            margin-bottom: 0;
        }
        .about-us {
            color: $black;
            width: 66px;
            height: 16px;
            margin-top: 53px;
            margin-right: 38px;
            text-transform: uppercase;
        }
        .sign-in {
            height: 34px;
            width: 80px;
            border: 2px solid #8BC34A;
            border-radius: 100px;
            text-align: center;
            line-height: 34px;
            margin-top: 43px;
            color: $green;
            text-transform: uppercase;
        }
        .title-hapo-erp {
            height: 77px;
            width: 100%;
            color: $green;
            font-family: Enso;
            font-size: 64px;
            line-height: 77px;
            margin-top: 165px;
            text-align: center;
            margin-bottom: 0;
        }
        .container-title-icon {
            width: 100%;
            height: 110px;
            margin-top: 53px;
            .title-icon {
                width: 66%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                .title-icon-start {
                    width: 96px;
                    height: 100%;
                    text-align: center;
                }
                .title-icon-between {
                    width: 101px;
                    height: 100%;
                    text-align: center;
                }
                .title-icon-end {
                    width: 141px;
                    height: 100%;
                    text-align: center;
                }
            }
        }
        .describe {
            width: 100%;
            height: 24px;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            margin-top: 53px;
        }
        .button-header {
            width: 100%;
            height: 50px;
            margin-top: 31px;
            margin-bottom: 233px;
            text-align: center;
        }
    }
}

.main {
    width: 100%;
    height: 100%;
    .container-section {
        padding-bottom: 100px;
        padding-top: 100px;
        .wrapper {
            .learnt-left {
                .img-learnt {
                    width: 100%;
                    height: 372.5px;
                }
            }
            .learnt-right {
                .title-main {
                    width: 308px;
                }
                .describe {
                    display: block;
                    width: 100%;
                    height: 19px;
                    margin-bottom: 10px;
                }
                .main-content {
                    margin-bottom: 30px;
                    margin-left: 0;
                }
            }
        }
    }
    .report {
        .container-section {
            .wrapper {
                .report-left {
                    .main-content {
                        margin-bottom: 30px;
                    }
                    h1 {}
                }
                .report-right {
                    .img-report {
                        width: 100%;
                        height: 336px;
                    }
                }
            }
        }
    }
    .function-list {
        background: linear-gradient(315deg, #B4EC51 0%, #429321 100%);
        .container-section {
            padding: 69px 0;
            .cfo {
                width: 109.5px;
                height: 185px;
                text-align: center;
                .circle-small {
                    width: 100%;
                    height: 109.5px;
                    border: 2.5px solid $white;
                    border-radius: 100%;
                    align-items: center;
                    .icon-main {
                        margin: 0;
                        color: $white;
                    }
                }
                .container-circle-large {
                    width: 100%;
                    height: 45.5px;
                    margin-top: -22.7px;
                    .circle-large {
                        box-sizing: border-box;
                        height: 45.5px;
                        width: 45.5px;
                        border: 2.5px solid $white;
                        background-color: $green;
                        border-radius: 100%;
                        span {
                            height: 32px;
                            width: 14px;
                            color: #FFFFFF;
                            font-family: $font-family-text;
                            font-size: 24px;
                            letter-spacing: -0.05px;
                            line-height: 32px;
                        }
                    }
                }
                a {
                    display: block;
                    margin-top: 10px;
                    color: $white;
                }
            }
        }
    }
    .member {
        .container-section {
            .wrapper {
                .member-left {
                    .container-content {
                        margin-bottom: 30px;
                        height: 184px;
                        .container-icon {
                            width: 36px;
                            height: 100%;
                            .check {
                                margin-bottom: 26px;
                            }
                        }
                    }
                    .button-main {
                        width: 100%;
                        height: 50px;
                        margin-top: 30px;
                        .button {
                            width: 195px;
                            height: 50px;
                        }
                    }
                }
                .container-main-content {
                    width: 519px;
                    height: 100%;
                    .main-content-one {
                        margin-bottom: 17px;
                    }
                }
                .member-right {
                    padding-left: 16px;
                    .img-member {
                        width: 100%;
                        height: 388px;
                    }
                }
            }
        }
    }
    .customer {
        .container-section {
            padding: 100px 0;
            .wrapper {
                .customer-right {
                    .container-content {
                        margin-bottom: 30px;
                        width: 100%;
                        height: 176px;
                        .container-icon {
                            width: 36px;
                            height: 100%;
                            .check {
                                margin-bottom: 26px;
                            }
                        }
                        .container-main-content {
                            width: 519px;
                            height: 100%;
                            .main-content-one {
                                margin-bottom: 17px;
                            }
                        }
                    }
                }
                .customer-left {
                    .img-customer {
                        width: 100%;
                        height: 378px;
                    }
                }
            }
        }
    }
    .list-our-customer {
        padding: 0;
        width: 100%;
        height: 544px;
        background: {
            image: url(../images/Rectangle\ 3.jpg);
            size: 100% 100%;
            repeat: no-repeat;
            position: center center;
        }
        .container-section {
            padding: 50px 0 29px 0;
            .title-main-customer {
                width: 100%;
                height: 63px;
                text-align: center;
                padding: 0;
                .title-main {
                    margin: 0;
                    color: $white;
                }
            }
            .container-img-name-customer {
                width: 100%;
                height: 123px;
                margin-top: 38px;
                .img-name-customer {
                    text-align: center;
                    .img-customer {
                        &:hover {
                            width: 100px;
                            height: 100px;
                        }
                    }
                    span {
                        color: $white;
                        display: block;
                        margin-top: 16px;
                        font-family: $font-family-text;
                        font-size: 10px;
                        letter-spacing: -0.03px;
                        line-height: 13px;
                    }
                }
            }
            .circle-action-slide {
                width: 100%;
                height: 10px;
                margin-top: 20px;
                span {
                    width: 8px;
                    height: 8px;
                    border: 1px solid $white;
                    border-radius: 50%;
                    margin: 0 11px;
                    &:hover {
                        background-color: $white;
                    }
                }
            }
            .six-content-nine {
                margin-top: 39px;
                width: 100%;
                height: 188px;
                .number-six {
                    width: 390px;
                    height: 100%;
                    padding-right: 27px;
                }
                .content {
                    width: 750px;
                    height: 142px;
                    align-items: flex-end;
                    .content-our-customer {
                        height: 90px;
                        width: 750px;
                        color: $white;
                        font-family: $font-family-text;
                        font-size: 18px;
                        font-weight: 300;
                        letter-spacing: -0.03px;
                        line-height: 30px;
                        text-align: justify;
                    }
                }
                .number-nine {
                    width: 390px;
                    height: 100%;
                    align-items: flex-end;
                    padding-left: 27px;
                }
            }
        }
    }
    .projects {
        .container-section {
            padding: 100px 0;
            .projects-left {
                .main-content {
                    margin-bottom: 30px;
                }
            }
            .projects-right {
                .img-projects {
                    width: 100%;
                    height: 370px;
                }
            }
        }
    }
}

.footer {
    padding: 0;
    background-color: #39474E;
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
    .container-section {
        padding: 45px 0 57px 0;
        .container-content {
            width: 100%;
            height: 78px;
            .container-info {
                width: 857px;
                height: 100%;
                .info-first {
                    width: 96px;
                    height: 100%;
                    h1 {
                        height: 29px;
                        width: 96px;
                        color: $green;
                        font-family: Enso;
                        font-size: 24px;
                        line-height: 29px;
                        margin-bottom: 0;
                    }
                    span {
                        display: block;
                        height: 13px;
                        width: 69px;
                        color: $white;
                        font-family: $font-family-text;
                        font-size: 10px;
                        font-weight: 500;
                        letter-spacing: -0.02px;
                        line-height: 13px;
                        margin-top: 36px;
                    }
                }
                .info-second {
                    width: 86px;
                    height: 100%;
                    h1 {
                        height: 18px;
                        width: 97px;
                        color: $green;
                        font-family: $font-family-text;
                        font-size: 13px;
                        font-weight: 500;
                        letter-spacing: -0.03px;
                        line-height: 18px;
                        margin-bottom: 0;
                    }
                    .info-text {
                        width: 76px;
                        height: 40px;
                        margin-top: 14px;
                    }
                    span {
                        color: $white;
                        font-family: $font-family-text;
                        font-size: 10px;
                        font-weight: 500;
                        letter-spacing: -0.02px;
                        line-height: 20px;
                    }
                }
            }
            .container-link {
                width: 165px;
                height: 100%;
                .pcfooter {
                    height: 13px;
                    width: 13px;
                    color: $green;
                    font-family: $font-family-icon;
                    font-size: 13px;
                    letter-spacing: -0.03px;
                    line-height: 13px;
                }
            }
        }
    }
}